<div *ngIf="isLoading">
    Loading...
</div>

<div *ngIf="personViewModels">
<div class="cd-person-item" *ngFor="let p of personViewModels" [routerLink]="'/person/' + p.id">
    <strong>{{ p.name }}</strong>
    <br />
    Born on {{ p.birthDate | date }} and lives in {{ p.city }}
</div>
</div>

<div *ngIf="!isLoading" class="cd-toolbar">
<button *ngIf="!errorMessage" routerLink="/person">Create</button>
<button (click)="loadPersons()">Reload</button>
</div>

<div *ngIf="errorMessage" class="cd-notification-list">
    <div class="cd-notification cd-notification--error">
      {{ errorMessage }}
    </div>
</div>