/* You can add global styles to this file, and also import other style files */

.cd-form {
}

.cd-field {     
    margin: 0.3em;
    padding: 0.5em 0 0.5em 0.5em;
}

.cd-field label {    
    clear: both;
    float:left;
    min-width: 20%;  
}

.cd-toolbar {
    margin: 0.3em;

    button + button {
        margin-left: 0.5em;
    }
}

.cd-notification-list {
    margin: 1em 0 0.5em 0.5em;

    .cd-notification.cd-notification--success {
        color: green;
    }
    .cd-notification.cd-notification--error {
        color: red;
    }
}

.confirm {
    border: 1px solid black;
    margin-top: 1rem;
    padding: 1rem;
    background-color: beige;
    width: 30rem;
}

button {
   padding: 0.5em;
}

button.cd-back-button {
    cursor: pointer;
    text-align: left;
    width: 100%;    
    background-color: lightblue;
    margin: 0.3em;
    padding: 1em;
    border: none;
}

input[type=text] {
    width: 50%;
}

input[type=date] {
    width: 10em;
}

input[type=text], input[type=date] {
    padding: 0.5em;
}
